*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  color: white;
}
body{
  background-color: #04152d;
}
.container{
  padding: 10px 30px;
}


.btnP{
  @apply py-3 px-8 bg-sicondary font-semibold  rounded hover:bg-primary transition-all duration-300
}

